@page
@model MegaDeskWeb.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Desk Quote Details</h1>

<p>
    <a asp-page="Create" class="links"><em>Add New Desk</em></a>
</p>

<form>
    <p>
        Search by Name: <input type="text" asp-for="SearchString">
        <input type="submit" value="Filter">
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="/DeskQuotes/Index" asp-route-sortOrder="@Model.NameSort" class="th-links">
                    <em>@Html.DisplayNameFor(model => model.DeskQuote[0].Name)</em>
                </a>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DrawersNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Material)
            </th>
            <th>
                <a asp-page="/DeskQuotes/Index" asp-route-sortOrder="@Model.DateSort" class="th-links">
                    <em>@Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)</em>
                </a>
              
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawersNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="links"><em>Edit</em></a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="links"><em>Details</em></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id"class="links"><em>Delete</em></a> |
                <a asp-page="./DisplayQuote" asp-route-id="@item.Id" class="links"><em>Display Quote</em></a>

            </td>
        </tr>
}
    </tbody>
</table>
